{% extends 'MiApp2/index.html' %}

{% load static %}

{% block title %}
    Empleado
{% endblock title%}



{% block codigo_fatal2 %}
                    <ul class="navbar-nav ms-auto">
                        {% if request.user.is_authenticated %} 
                        <li class="nav-item"><a class="nav-link" href="{% url 'Crear Empleado' %}"> Crear Empleado</a>
                        <li class="nav-item"><a class="nav-link" href="{% url 'Buscar Empleado' %}"> Buscar Empleado</a>  
                        <li class="nav-item"><a class="nav-link" href="{% url 'Mostrar Empleados' %}"> Listar Empleados</a>
                        {% endif %}
                    </ul>
{% endblock %}


{% block codigo_fatal2 %}
    <h1>Nuestros Empleados:</h1>

    {% for empleado in empleado %}
        <p>Nombre: {{empleado.nombre}}, Apellido: {{empleado.apellido}}, Email: {{empleado.email}}, Profesion: {{empleado.profesion}}</p>
    {% endfor %}  

{% endblock %}
